/*effet sur le titre*/
.slideEffect{
	color: #fff;
	text-align: center;
    font-family: 'Arbutus Slab', serif;
    font-size: 75%;
}

#divSlideEffect{
	min-height: 120px;
}

/*presentation du site*/
#corpsPresentation{
	display: flex;
	position: relative;
	margin-top: 5%;
	justify-content: space-around;
	background-color: #d4d6d7;
	padding: 1% 0%;
}
#corpsPresentation p{
	font-size: 85%;
    font-family: 'Cabin Condensed', sans-serif;
}
#corpsPresentation div{
	width: 33%;
}

#corpsPresentation h4{
	font-size: 75%;
	text-align: center;
	font-family: 'Patua One', cursive;
}
/*partie images*/
#corpsPresentation img{
	width: 15%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	transition: 0.7s;
}

#corpsPresentation img:hover{
	width: 20%;
}

/*paragraphes*/
#corpsPresentation div p{
	width: 50%;
	padding-top: 3%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 80%;
	border-top: 1px solid #000;
}

/*block au milieu*/
#corpsPresentation div:nth-child(2){
	border-right: 2px solid black;
	border-right-style: dotted;
	border-right-width: 2px;
	border-left: 2px solid black;
	border-left-style: dotted;
	border-left-width: 2px;
}

/*carte de fontainebleau*/
#map{
    display: block;
    width: 100%;
    padding-bottom: 1%;
    background-color: #363632;
}
#map p{
    color: white;
    font-size: 80%;
    padding: 1%;
    text-align: center;
    font-family: 'Cabin Condensed', sans-serif;
}
#map iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 280px;
}

/*contenu*/
#content div{
	background-color: #d4d6d7;
}

#content div h3{
	text-align: center;
	font-size: 90%;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 0%;
	border-left: 1px solid black;
	border-left-style: dotted;
	border-left-width: 1px solid black;
	border-right: 1px solid black;
	border-right-style: dotted;
	border-right-width: 1px solid black;
	border-bottom: 1px solid black;
	border-bottom-style: dotted;
	border-bottom-width: 1px solid black;
	font-family: 'Patua One', cursive;
}

#content div p{
	text-align: center;
	width: 60%;
	font-size: 85%;
	padding-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	display: none;
	font-family: 'Oswald', sans-serif;
	border-left: 1px solid black;
	border-left-style: dotted;
	border-left-width: 1px solid black;
	border-right: 1px solid black;
	border-right-style: dotted;
	border-right-width: 1px solid black;
}

/*liens dans les paragraphes*/
#content a{
	color: #8fda13;
	text-decoration: none;
	transition: 0.7s;
}

#content a:hover{
	color: orange;
}
/*ouverture de paragraphes*/
.openParagraphe{
	font-size: 120%;
	float: right;
	cursor: pointer;
}

/*dernier paragraphe*/
#atouts span{
	text-align: center;
}

.atoutsTitre{
	color: red;
    font-family: 'Bree Serif', serif;
    display: block;
    padding-top: 2%;
}

/*partie avec la disponibilites des plateformes*/
#plateformes{
	background-color: #363632;
	padding: 1% 0;
}

#plateformes h3{
	text-align: center;
	color: #fff;
	font-size: 85%;
}

#allMultimedia{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 12%;
	height: auto;
	transition: 0.7s;
}

#languages{
	display: flex;
	justify-content: center;
}
#languages img{
	width: 10%;
	min-width: 100px;
	height: auto;
	transition: 0.7s;
}

#allMultimedia:hover,
#languages img:hover{
	width: 13%;
}